nav {
    background-color: #B0413E;

    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

nav div {
    margin: 0 auto;
    max-width: 960px;

    display: flex;
    align-items: stretch;
}

nav a {
    padding: 5px 10px;
    display: flex;
    align-items: center;

    text-decoration: none;

    transition: background-color 0.1s linear;
}

nav a:hover {
    background-color: #AA3333;
}

nav a p {
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 0.1em;

    color: #FFF;

    margin: 0;
}

nav .logo {
    font-size: 2em;
    font-weight: bold;

    margin-right: auto;
}

footer {
    background-color: #1B1B1E;

    text-align: center;

    font-size: 0.6em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 2.2em;
    width: 100%;

    position: fixed;
    bottom: 0;
}

footer a {
    text-decoration: none;
    color: #FBFFFE;
}