nav {
    display: flex;
    align-items: center;

    background-color: #B0413E;

    box-shadow: 0 2px 10px rgba(0,0,0,0.6);
}

nav a {
    padding: 15px 10px;

    text-decoration: none;
    color: #FFF;
}

nav a:hover {
    background-color: #AA3333;
}

nav .logo {
    font-size: 1.4em;
    font-weight: bold;

    margin-right: auto;
}