nav {
    display: flex;
    align-items: center;

    background-color: #B0413E;

    box-shadow: 0 2px 10px rgba(0,0,0,0.6);
}

nav a {
    padding: 15px 10px;

    text-decoration: none;
    color: #FFF;
}

nav a:hover {
    background-color: #AA3333;
}

nav .logo {
    font-size: 1.4em;
    font-weight: bold;

    margin-right: auto;
}

footer {
    background-color: #1B1B1E;

    text-align: center;

    font-size: 0.8em;
    line-height: 1.8em;
    width: 100%;

    position: fixed;
    bottom: 0;
}

footer a {
    text-decoration: none;
    color: #FBFFFE;
}