<div *ngIf="citizen">
  <h2 class="box-header">Citizen information</h2>

  <div class="content">
    <img src="/assets/aremke.jpg">
    <div class="information-panel">
      <div class="information">
        <h4>First name</h4>
        <p>{{ citizen.firstName }}</p>
      </div>

      <div class="information">
        <h4>Last name</h4>
        <p>{{ citizen.lastName }}</p>
      </div>

      <div class="information">
        <h4>Date of birth</h4>
        <p>{{ citizen.dateOfBirth|date:'d MMMM y' }}</p>
      </div>

      <div class="information">
        <h4>Place of birth</h4>
        <p>{{ citizen.placeOfBirth }}</p>
      </div>

      <div class="information">
        <h4>Nationality</h4>
        <p>{{ citizen.nationality }}</p>
      </div>

      <div class="information">
        <h4>VISA status</h4>
        <p *ngIf="visaLoading; else visaLoaded">Loading...</p>
        <ng-template #visaLoaded>
          <p>{{ visa ? (visaExpired ? 'Expired' : 'Valid') : 'Non existent' }}</p>
        </ng-template>
      </div>

      <!--<div class="information">-->
        <!--<h4>Height</h4>-->
        <!--<p>{{ citizen.height }} cm</p>-->
      <!--</div>-->

      <!--<div class="information">-->
        <!--<h4>Weight</h4>-->
        <!--<p>{{ citizen.weight }} kg</p>-->
      <!--</div>-->

      <div class="information">
        <h4>Address</h4>
        <p>{{ citizen.addressStreet }}</p>
      </div>

      <div class="information">
        <h4>Address city</h4>
        <p>{{ citizen.addressCity }}</p>
      </div>
    </div>
  </div>
</div>
