h2 {
  background-color: #AA3333;
  color: #FBFFFE;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

  text-align: center;
  text-transform: uppercase;

  letter-spacing: 0.1em;
  font-size: 1.3em;
  line-height: 1.8em;

  margin: 0;
}

h3 {
  text-align: center;
  text-transform: uppercase;

  font-weight: normal;
  font-size: 1.3em;
  letter-spacing: 0.1em;

  margin: 0;
}

.content {
  padding: 30px 0;

  display: flex;
  align-items: stretch;

  flex-wrap: wrap;
}

.panel {
  width: 50%;
  padding: 0 22px;
}

.panel:nth-child(odd) {
  border-right: 1px solid #A29EA2;
}

::ng-deep .mat-form-field-label {
  text-transform: uppercase;
}

.search-button {
  width: 50%;
}

.search-button:nth-child(odd) {
  border-right: 1px solid #A29EA2;
}

button {
  display: block;
  position: relative;

  bottom: 0;

  text-transform: uppercase;
  letter-spacing: 0.1em;

  margin: 0 auto;

  background-color: #FAA916;
  color: #FBFFFE;
}