@import url('https://fonts.googleapis.com/css?family=Lato:400,700&subset=latin-ext');

* {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

body, html {
    height: 100%;

    padding: 0;
    margin: 0;

    background-image: linear-gradient(to right bottom, #faa916, #e4684e, #a14662, #513550, #1b1b1e);
}

mat-card {
    width: 100%;
}

@media only screen and (max-width: 780px) {
    .container {
        width: 98%;
    }
}

.full-width {
    width: 100%;
}

.d-flex {
    display: flex;
}

.col-1 {
    width: 8.33%;
    padding: 0 5px;
}

.col-2 {
    width: 16.66%;
    padding: 0 5px;
}

.col-3 {
    width: 25%;
    padding: 0 5px;
}

.col-4 {
    width: 33.33%;
    padding: 0 5px;
}

.col-5 {
    width: 41.66%;
    padding: 0 5px;
}

.col-6 {
    width: 50%;
    padding: 0 5px;
}