@import url('https://fonts.googleapis.com/css?family=Lato:400,700&subset=latin-ext');

* {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

body, html {
    height: 100%;

    padding: 0;
    margin: 0;

    background: linear-gradient(to right bottom, #faa916, #e4684e, #a14662, #513550, #1b1b1e) fixed;
}

mat-card {
    width: 100%;
}

@media only screen and (max-width: 780px) {
    .container {
        width: 98%;
    }
}

h2.box-header {
    background-color: #AA3333;
    color: #FBFFFE;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

    text-align: center;
    text-transform: uppercase;

    letter-spacing: 0.1em;
    font-size: 1.3em;
    line-height: 1.8em;

    margin: 0;
}

.container {
    max-width: 920px;

    margin: 40px auto 40px auto;

    background-color: #fbfffe;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.full-width {
    width: 100%;
}

.d-flex {
    display: flex;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.right-align {
    text-align: right;
}

.center-align {
    text-align: center;
}