<h2>Search for a citizen using full name</h2>

<div class="d-flex">
  <div class="col-6">
    <form #form="ngForm">
      <mat-form-field class="full-width">
        <input [formControl]="fullName"
               type="text"
               matInput
               placeholder="Full name"
               name="fullName">
      </mat-form-field>

      <button mat-flat-button
              color="primary"
              (click)="search()"
              [disabled]="fullName.invalid">Search</button>
    </form>
  </div>
  <div class="col-6">
    <mat-spinner *ngIf="searching"></mat-spinner>

    <mat-card class="full-width" *ngIf="citizen">
      <mat-card-header>
        {{ citizen.firstName }} {{ citizen.lastName }}
      </mat-card-header>
      <img matCardImage src="assets/ibiza.jpg">
      <mat-card-content>
        Personal information:

        <div class="vehicle-data"><mat-icon>calendar_today</mat-icon><span> Date of birth: {{ citizen.dateOfBirth | date:'dd-MM-yyy' }}</span></div>
      </mat-card-content>
      <mat-card-actions>
        <!--<button mat-button (click)="showRegistration()">Registration</button>-->
        <!--<button mat-button (click)="showInsurance()">Insurance</button>-->
        <button mat-button style="margin-left: auto" [matMenuTriggerFor]="actionMenu">Actions</button>

        <mat-menu #actionMenu>
          <button mat-menu-item>Edit</button>
          <button mat-menu-item>Delete</button>
        </mat-menu>
      </mat-card-actions>
    </mat-card>
  </div>
</div>