@import '~@angular/material/theming';

h2 {
  margin: 0 0 10px 0;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #D7D5D7;

  text-align: center;
}

button {
  margin-top: 20px;
}

mat-spinner {
  margin: 0 auto;
}

mat-card-header {
  padding-bottom: 16px;
  font-weight: bold;
}

mat-card-actions {
  display: flex;
}

mat-icon {
  display: inline-block;
}

.vin-number {
  margin-left: auto;
  margin-right: 38px;
}

.vehicle-data {
  display: flex;
  align-items: center;

  line-height: 2em;
}

.action-button {
  margin-left: auto;
}